html {
  -webkit-font-smoothing: antialiased;
}

.material .detail-view .header-container {
  margin: 20px 0 40px 0;
}

.material .sj-scrolling-module #moduleHeader .home-palette-id-1, .material .sj-scrolling-module-0 h2, .material .sj-scrolling-module-0 h2 span, .material .home-palette-id-1, .material .sj-home .home-palette-id-1, .material .sj-home .home-palette-id-2, .material .sj-home a {
  color: #212121 !important;
}

.material .sj-page-tab.sj-page-indicator {
  color: #cccccc !important;
}

.material .sj-page-tab.iron-selected.sj-page-indicator {
  color: #ff5722 !important;
}

.material paper-header-panel #music-content .recent-view {
  width: 80% !important;
}

#material-hero-image .iron-image, paper-header-panel#content-container.has-hero-image #app-bar-text-protection {
  background: none !important;
}

paper-drawer-panel iron-image#material-hero-image, #mainContainer {
  background-color: #f7f7f7 !important;
}

.material-detail-view .has-hero-image {
  margin-top: 100px !important;
}

#material-hero-image .iron-image, paper-header-panel#content-container.has-hero-image #app-bar-text-protection {
    background: none ;
    display: none;
}

.material .paper-toolbar-0 iron-icon, .material, .material paper-header-panel#content-container.transparent #material-app-bar {
    color: #555;
}

.material .sj-play-button-3 #pulse.sj-play-button,
.material .sj-play-button-2 #pulse.sj-play-button,
.material #pulse.sj-play-button {
  background: rgba(0, 0, 0, 0.07);
}

.material .sj-search-box-1 #input.sj-search-box {
  background-color: #ddd;
}

body.material {
    background: transparent;
    background-color: transparent;
    font-family: "San Francisco Display", "Helvetica Neue", "Helvetica", arial;
}



.material .paper-header-panel-0 #dropShadow.paper-header-panel {
    box-shadow: inset 0px 5px 8px -1px rgba(0, 0, 0, 0.03);
}

.material-detail-view .has-hero-image {
    margin-top: 100px ;
}

.solid-hero .material-detail-view .has-hero-image, .material-album-container, .material .material-shadow-z1 {
    background-color: rgba(255,255,255,0) ;
    box-shadow: none;
}

gpm-action-buttons {
    border-top: 1px solid rgba(255,255,255,0.2) ;
}

.material .song-table .song-row td, .material .upload-progress-row td, .material .cluster-text-protection, .material .cluster-text-protection::before, body.qp .material .cluster-text-protection {
    background-color: transparent !important;
}

.material .song-table .song-row td,
.material .song-table.tight .song-row td
 {
  height: 43px;
  line-height: 43px;
  max-height: 43px;
  min-height: 43px;
}

.material .album-view .song-table.tight .song-row .column-content {
  text-overflow: initial;
  overflow: visible;
  width: auto;
  height: auto;
  margin: 3px 0;
}

.material .album-view .song-table .song-row [data-col="title"],
.material .album-view .song-table .song-row [data-col="artist"],
.material .album-view.has-composer .song-table .song-row [data-col="composer"] {
  height: auto !important;
  max-height: none !important;
  line-height: 1.3em !important;
  padding-right: 4px;
  white-space: normal;
  text-indent: 0;
  overflow: visible;
  position: relative;
}

.material .album-view .song-table .song-row .title-right-items {
  position: absolute;
  right: -30px;
  top: 50%;
  margin-top: -22px;
}

.material .album-view .song-table .song-row [data-col="track"] iron-icon.iron-icon-0,
.material .album-view .song-table .song-row [data-col="track"] .song-indicator {
  position: absolute;
  top: 50%;
  margin-top: -17px;
}

.material .song-table .song-row.selected-song-row td {
    background-color: #FED037 !important;
}

.material .song-table .song-row.selected-song-row [data-col="rating"]:last-child {
  background-color: transparent !important;
}

.material .cluster.material-cluster .header {
  display: inline-block;
  float: right;
  height: auto;
}

.material .cluster.material-cluster .header .header-inner {
  display: inline-block;
}

.material .cluster.material-cluster .header .header-inner .cluster-title{
  line-height: 0;
  overflow: visible;
}

.material .song-table .song-row:hover td {
    background-color: rgba(255,255,255,0) ;
}

.material .song-table .song-row:hover {
    background-color: rgba(255,255,255,0.2) ;
}

.material-card .title::after {
    display: none;
}

.material .paper-slider-1 #sliderKnobInner.paper-slider, .material .paper-slider-0 #sliderKnobInner.paper-slider {
    border: none;
}

.material .paper-icon-button-0[disabled] {
    opacity: 0.3;
}

#player paper-icon-button[data-id="play-pause"]:not([style-scope]):not(.style-scope):not([disabled]) {
    opacity: 1;
}

.material .song-row td, .material .upload-progress-row td, a, .simple-dialog a, .material-detail-view .material-container-details .info .description, .material .song-table [data-col="title"], .material .song-table.mini [data-col="song-details"] .song-title {
    color: inherit;
}

#material-volume-low, #material-vslider {
    opacity: 1 ;
}

.material .material-card .details {
    background: rgba(255,255,255,0.6);
}

.material .entity-card.material-card .details {
    background: transparent;
}

.material .fade-out:after {
    display: none;
}

.material .primary:not([style-scope]):not(.style-scope), .material #player paper-icon-button[data-id="play-pause"]:not([style-scope]):not(.style-scope):not([disabled]) {
    color: inherit;
}

.material .album-view .material-album-container .song-table .song-row [data-col="track"] .song-indicator,
.material .album-view .material-album-container .song-table .song-row .hover-button,
.material .album-view .song-row [data-col="index"] .song-indicator,
.material .album-view .song-row .aria-play-button,
.material .album-view .song-row .hover-button,
.material .playlist-view .material-album-container .song-table .song-row [data-col="track"] .song-indicator,
.material .song-table.tight .song-row [data-col="track"] .song-indicator,
.material .playlist-view .material-album-container .song-table .song-row .hover-button,
.material .playlist-view .song-row [data-col="index"] .song-indicator,
.material .playlist-view .song-row .aria-play-button,
.material .playlist-view .song-row .hover-button {
    left: -12px !important;
}

.material .song-table.tight .song-row [data-col="track"] .song-indicator {
    left: -20px !important;
}

.material .auto-playlist-view .material-album-container .song-table .song-row [data-col="track"] .song-indicator,
.material .auto-playlist-view .material-album-container .song-table .song-row .hover-button,
.material .auto-playlist-view .song-row [data-col="index"] .song-indicator,
.material .auto-playlist-view .song-row .aria-play-button,
.material .auto-playlist-view .song-row .hover-button {
    left: 0px !important;
}

.material .song-table.tight .song-row [data-col="index"] .song-indicator,
.material .song-table.tight .song-row td[data-col="index"] .hover-button.x-scope[data-id="play"]{
  left: -10px;
}

.material paper-icon-button[icon="menu"] {
  margin-top: 5px !important;
}

.material .menu-logo {
  margin-bottom: -5px !important;
}
.material .music-logo {
  padding-top: 5px !important;
}

.material .song-table .song-row [data-col="track"] {
  opacity: 0.6;
}

.material .album-view .songlist-container {
    min-height: 600px;
}

.material .album-view .material-container-details .paper-fab-0,
.material .playlist-view .material-container-details .paper-fab-0 {
    background: transparent;
    color: transparent;
    width: 264px;
    border-radius: 0;
    height: 264px;
    left: 0 ;
    top: 0 ;
    box-shadow: none;
    z-index: 1;
}


.playlist-view .editable:hover {
    background: transparent;
}

body.material .song-row .column-content {
    /* height: 32px; */
}

body.material .song-row td, body.material .upload-progress-row td {
}

.material .sub-title.fade-out.tooltip {
    opacity: 0.6;
}

.material #player {
    box-shadow: 0px 5px 8px 8px rgba(0, 0, 0, 0.03);
}

.material gpm-action-buttons {
    border-top: none;
}

.material .album-view .material-container-details,
.material .playlist-view .material-container-details {
    position: relative;
    width: 301px;
    max-width: 0;
    margin-top: 20px;
    float: left;
}

.material .album-view .material-container-details+.song-table,
.material .playlist-view .material-container-details+.song-table {
    padding-left: 280px ;
    margin-top: -65px;
}

.material gpm-action-buttons paper-button:last-of-type, gpm-action-buttons paper-icon-button:last-of-type {
    margin: 0;
}

.material .material-detail-view .material-container-details .info .title {
  padding-bottom: 10px;
}

.material .material-container-details .info .sub-details paper-icon-button {
  right: -17px;
}

.material .material-container-details .info .title {
  margin-right: 0;
}

.material .song-row paper-icon-button[data-id="menu"] {
    margin: 0;
}

.material .sj-play-button-11 #pulse.sj-play-button {
  background: #ccc;
}

.material .sj-play-button-11 #buttonContent.sj-play-button {
  background: #fefefe;
}

.material .album-view .cluster .header {
  margin-bottom: 34px;
}

.material .album-view .cluster .lane-button.next {
  right: -25px;
}
.material .album-view .cluster .lane-button.prev {
  left: -25px;
}


/* song table styles */

.material .album-view .gpm-detail-page-header-0 #imageWrapper.gpm-detail-page-header {
  width: 420px;
  height: 420px;
  position: absolute;
  top: 0;
  left: 0;
}

.material .album-view .gpm-detail-page-header-0 .detail-wrapper.gpm-detail-page-header {
  position: absolute;
  top: 420px;
  margin-top: 22px;
  padding: 0;
  left: 0;
  width: 420px;
  overflow: visible;
}


.material .album-view .gpm-detail-page-header-0 div.gpm-detail-page-header > [slot="image"] {
  box-shadow: none;
  border-radius: 5px;
}

.material .album-view .gpm-detail-page-header-0 div.gpm-detail-page-header #explicitIcon {
  display: none;
}

.material .album-view .gpm-detail-page-header-0 div.gpm-detail-page-header > [slot="title"] {
  overflow: visible;
  white-space: normal;
  font-size: 24px;
  width: calc(100% - 50px);
  line-height: 1.2em;
  font-weight: 500;
  color: rgba(0,0,0,0.7);
}

.material .album-view .gpm-detail-page-header-0 div.gpm-detail-page-header > [slot="buttons"] {
  color: rgba(0,0,0,0.5);
}

.material .album-view .gpm-detail-page-header-0 div.gpm-detail-page-header > [slot="subtitle"] {
  color: #FF5722;
  font-size: 24px;
  text-overflow: initial;
  overflow: visible;
  margin-bottom: 10px;
  margin-top: 2px;
  white-space: normal;
  font-weight: 200;
  line-height: 1.2em;
  width: calc(100% - 50px);
}


.material .album-view .song-table {
  position: relative;
  top: -83px;
  left: 420px;
  width: calc(100% - 420px);
  min-width: 480px;
}

.material .album-view .gpm-detail-page-header-0 .detail-wrapper.gpm-detail-page-header > div.gpm-detail-page-header {
  align-items: flex-start;
  margin-bottom: 0;
}

.detail-view .view-header paper-button, .gpm-detail-page-header-0 div.gpm-detail-page-header > [slot="buttons"] {
  margin-top: 0;
  color: #aeaeae;
  text-align: left;
}

.detail-view .view-header paper-button iron-icon {
  display: none;
}

.material #quick-nav-container gpm-quick-nav, .material #quickNavContainer {
  display: none !important;
}

.material .gpm-detail-page-header-0 #playButton.gpm-detail-page-header {
  margin: 4px 4px 0 16px;
  position: absolute;
  right: 0;
}


.material .song-table [data-col="rating"]:last-child {
  width: 70px !important;
  border-bottom: none;
}

.material .song-table [data-col="rating"][data-rating="5"],
.material .song-table [data-col="rating"][data-rating="1"] {
    display: block;
    position: relative;
    top: 4px;
  }

@media screen and (min-resolution: 1.5dppx) {
  .material .song-table [data-col="rating"]:last-child {
    background-position-y: -12px !important;
  }
}

@media screen and (max-resolution: 1dppx) {
  .material .song-table [data-col="rating"][data-rating="1"] {
    background-position-y: -178px !important;
  }
}

@media (max-width: 1300px) {
  .material paper-drawer-panel.mini-nav-enabled paper-header-panel #music-content .g-content,
  .material paper-drawer-panel.mini-nav-enabled paper-header-panel #music-content .recent-view {
    margin: 21px !important;
    width: calc(100% - 42px) !important;
  }
/*  .material .song-table [data-col="rating"]:last-child {
    width: 70px !important;
    background-position-y: -12px !important;
  }*/
}
@media (max-width: 890px) {
  .material .paper-drawer-panel > [main] {
    width: 92% !important;
  }
  .material .album-view .song-table {
    left: 404px;
  }
}